<div class="container body-content span=8 offset=2">

        <form class="form-horizontal" method="post" action="/user/details">
        <form class="form-horizontal">
        <div class="col-md-6" style="width: 150px; height: 150px; border: 0.1px solid black">
            <form>
                    <img src="{{imagePath}}">
            </form>
        </div>

        <div class="col-md-6">
            <p> Name: {{user.fullName}}</p>
            <p> Age: {{profile.age}}</p>
            <p> Town: {{profile.town}}</p>
            <p> About me:
            <blockquote>
                 {{profile.about}}
            </blockquote>

            <p> Contact me: {{user.email}}</p>
        </div>
        </form>
        </form>

        <div class="col-md-12">

            <h4> My articles</h4>
        {{#each user.articles }}

            <blockquote>
                <header>
                    <h2>{{this.title}}</h2>
                </header>
                <p>{{this.content}}</p>
                <footer>Created on <cite title="Source Title">{{this.date}}</cite></footer>
            </blockquote>


        {{/each}}

            <h4> My comments</h4>
            {{#each user.comments}}

                <blockquote>
                    <p>{{this.comments}}</p>
                    <footer>Posted on <cite title="Source Title">{{this.title}}</cite></footer>
                </blockquote>

            {{/each}}


            <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="profile">Update profile &raquo;</a>
                    </div>
                </footer>
        </div>
</div>
