<div class="container body-content span=8 offset=2">
    <div class="well">
        <div class="col-md-1" style="width: 150px; height: 150px; border: 0.1px solid black">
            <h5>Profile picture</h5>
            <form>
                <div class="box">
                    <img src="{{imagePath}}">
                </div>

                <input type="file" class="form-control" enctype="multipart/form-data" id="profilPicture" placeholder="Profile picture" name="profilePicture" >

            </form>

        </div>
        <div class="col-md-4">
            <p> Name:{{user.fullName}}</p>
            <p> E-mail:{{user.email}}</p>
        </div>
        <div class="col-md-4">
            <p>Select your theme: </p>
            <div class="col-md-8">
            <div class="boxTheme"></div>
            <div class="boxTheme"></div>
            <div class="boxTheme"></div>
            <div class="boxTheme"></div>
        </div>


        <div class="col-md-12">
            <h4> Your articles</h4>

        {{#each article.comments}}

            <blockquote>
                <header>
                    <h2>{{article.title}}</h2>
                </header>
                <p>{{article.content}}</p>
                <footer>Created on <cite title="Source Title">{{article.date}}</cite></footer>
            </blockquote>

            <article>
                <header>
                    <h2>{{article.title}}</h2>
                </header>

                <p>
                    {{article.content}}
                </p>
        {{/each}}

                <div id="comments">
                    {{#each article.comments}}
                        <div class="col-md-12">
                            <p style = "text-align: start; color: black;  font-size: 10pt; background-color: aqua ">{{this.content}}
                            </p>

                            <small class="author">
                                {{author.fullName}}
                            </small>
                            <footer>
                                <div class="pull-right">

                                    <a class="btn btn-danger btn-xs" href="/article/comment/delete/{{article.id}}">Delete</a>

                                </div>
                            </footer>
                        </div>
                    {{/each}}

                <footer>
                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-xs" href="/article/edit/{{article.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/article/delete/{{article.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>