<div class="container body-content">
    <div class="row">
        <div class="col-md-4">
            <h5>Profile picture</h5>
            <form>
                <div class="box">
                    <img scr="{{imagePath}}"></img>
                </div>
                </br>
                <input type="file" class="form-control" enctype="multipart/form-data" id="profilPicture" placeholder="Profile picture" name="profilePicture" >

            </form>

        </div>
        <div class="col-md-4">
            <p> Name:{{user.fullName}}</p>
            <p> E-mail:{{user.email}}</p>
        </div>
        <div class="col-md-4">
            <p>Select your theme:
            <div class="col-md-8">
            <div class="boxTheme"></div>
            <div class="boxTheme"></div>
            <div class="boxTheme"></div>
            <div class="boxTheme"></div>
            </div>
            </p>
        </div>
        <div class="col-md-12">
            <h4> Your articles</h4>
            <article>
                <header>
                    <h2>{{article.title}}</h2>
                </header>

                <p>
                    {{article.content}}
                </p>

                <footer>
                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-xs" href="/article/edit/{{article.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/article/delete/{{article.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>